* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-is-sv.is-sv.dix -text
/apertium-is-sv.is-sv.rlx -text
/apertium-is-sv.is-sv.t1x -text
/apertium-is-sv.is-sv.t2x -text
/apertium-is-sv.is-sv.t3x -text
/apertium-is-sv.is.dix -text
/apertium-is-sv.sv-is.rlx -text
/apertium-is-sv.sv.dix -text
/autogen.sh -text
/configure.ac -text
dev/generation-test.is-sv.sh -text
dev/generation-test.sv-is.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/interwiki.top.txt -text
dev/sv.europarl.freq -text
dev/sv.top10000.txt -text
dev/testvoc-summary.is-sv.txt -text
dev/testvoc-summary.sv-is.txt -text
dev/testvoc.sh -text
/is-sv.prob -text svneol=unset#unset
/sv-is.prob -text
